<h1 class="title">Edit Todo</h1>
<div mat-dialog-content>
    
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input
                    type="text"
                    class="input"
                    [ngModel]="todo.text"
                    #todoTextField="ngModel"
                    name="text"
                    required
                    minlength="2"
                    placeholder="Type todo text here...">
            </div>

            <div *ngIf="todoTextField.invalid">
                <p class="help is-danger" *ngIf="todoTextField.errors.required">Please enter the text of your todo</p>
                <p class="help is-danger" *ngIf="todoTextField.errors.minlength">Todo text must be at least 2 characters</p>
            </div>
        </div>

        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="close()">Cancel</button>
            </div>

            <div class="control">
                <button type="submit" class="button alt-gradient-button">
                    <i class="material-icons">save</i>
                    Save
                </button>
            </div>
        </div>
    </form>

</div>